@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-red: #D9272E;
}


body {

}

.navChild::after {
  display:block;
  content: '';
  width: inherit;
  border-bottom: solid 3px var(--main-red);  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  transform-origin: left;
  margin-top: 1px;

}

.navChild:hover:after { transform: scaleX(1); }
