@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-red: #d9272e;
}

* {
}

body {
  font-display: fallback;
}

.navChild::after {
  display: block;
  content: "";
  width: inherit;
  border-bottom: solid 3px var(--main-red);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: left;
  margin-top: 1px;
}

.navChild:hover:after {
  transform: scaleX(1);
}

.line::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 2.5rem;
  background: var(--main-red);
  bottom: 10rem;
}

.middle::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 2.5rem;
  background: var(--main-red);
  top: 10rem;
}

.cus-title-color {
  background: linear-gradient(
    180deg,
    rgba(0, 21, 77, 1) 3%,
    rgba(9, 34, 99, 1) 55%,
    rgba(4, 15, 42, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.slick-list {
  width: 100%;
  height: 100%;
}

.slick-track {
  width: 100%;
  height: 100%;
}